/* You can add global styles to this file, and also import other style files */


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // font-size: 10pt;
}

// *,
// *::before,
// *::after {
//     box-sizing: inherit;
// }

// p {
//     margin-top: 1em;
// }

// h1 {
//     font-size: 16pt;
// }

// h2 {
//     font-size: 11pt;
// }

// h3 {
//     font-size: 10pt;
// }
