<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">XP</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userInfo; index as i"
            [ngClass]="{ 'table-primary': user.username === currentUserName }">
            <th>{{ i+1 }}</th>
            <td class="flex-container">
                <img class="user-image img-fluid" [src]="user.pictureUrl">
                <div>
                    <div>{{ user.username }}</div>
                    <div class="user-rank text-secondary">{{ user.rank.rank }}</div>
                </div>
            </td>
            <td>{{ user.xp }}</td>
        </tr>
    </tbody>
</table>
