<div class="container-fluid" (click)="openPoppy()">
  <div class="row">
    <div>
      <div class="avatar">
        <img alt="" [src]="currentUser.pictureUrl">
      </div>
    </div>
    <div class="col-sm">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="currentUser.xp"
          aria-valuemin="currentUser.rank.minXp" aria-valuemax="currentUser.rank.maxXp"
          [ngStyle]="{ 'width': progressBarPercentage }"></div>
      </div>
    </div>
    <div>
      <p class="tag">{{ tag }}</p>
    </div>
  </div>
</div>
