@import '~bootstrap/scss/bootstrap.scss';

$font-stack: Helvetica,
sans-serif;
$primary-color: #333;

.row {
    display: flex;
    align-items: center;
}

.progress {
    height: 12px;
}

.progress-bar {
    vertical-align: middle;
}

.tag {
    margin: auto;

}

.avatar {
    position: relative;
    transform: scale(1);
}

.avatar .userPicture {
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid gray;
}

.sparkleApp {
    position: absolute;
    left: 3px;
    top: -30px;
    z-index: 1;
}

.helmetApp {
    position: absolute;
    height: 30px;
    left: -12px;
    top: -22px;
    transform: rotate(-35deg);
    z-index: 1;
}
