<div class="container-fluid" style="min-width: 250px;" [style.height]="height" (click)="openPoppy()">
  <div class="row">
    <div>
      <div class="avatar" style="position:relative">
        <img alt="" [src]="currentUser?.pictureUrl" [style.height]="height + 'px'" [style.width]="height + 'px'">
        <app-sparkle class="sparkleApp" [size]="height * 1.6" style="position: absolute; z-index: 1;"
            [ngStyle]="{ 'left': (height/5) + 'px', 'top': (-height/2) + 'px' }"></app-sparkle>
        <!-- <app-helmet class="helmetApp"></app-helmet> -->
      </div>
    </div>
    <div class="col">
      <div class="progress">
        <div [class]="'progress-bar ' + progressBarClass" role="progressbar" aria-valuenow="currentUser.xp"
          aria-valuemin="currentUser.rank.minXp" aria-valuemax="currentUser.rank.maxXp"
          [ngStyle]="{ 'width': progressBarPercentageString }">
        </div>
      </div>
    </div>
  </div>
</div>
